= form_with(model: [material, material_comment] ) do |form|
  %div
    = form.text_area :text, placeholder: "コメントを入力", rows: "2", class: "material_show_contents__container__text"
  .actions
    = form.submit "投稿する", class: "material_show_contents__container__send"