- comments.each do |comment|
  - unless comment.id.nil?
    %p.recipe_show_contents__container__comments__main
      %strong
        = link_to "#{comment.user.nickname}さん", user_path(comment.user.id)
      = comment.text
      - if comment.user == current_user
        %span.comment-delete
          = link_to '削除', recipe_comment_path(comment.recipe_id, comment.id), method: :delete, remote: true