%p
  = link_to '編集', edit_user_registration_path, method: :get
.contents
  %p.contents__title
    = @nickname
    さんの投稿一覧
  - @recipes.each do |recipe|
    .contents__post{style: "background-image: url(#{recipe.images.first.src.url});"}
      %p.contents__post__text
        = recipe.name