#home.big-bg
  .home-content
    %h2.page-title Make your food happy !
    .button-box
      - if user_signed_in?
        = link_to recipes_path, class: "button" do
          %span ＼みんなどんな料理を作ってる？／
          %span.login レシピを見てみる
        = link_to materials_path, class: "button" do
          %span ＼あの材料はどこで買えるんだろう？／
          %span.login 材料を探してみる
      - else
        = link_to users_guest_sign_in_path, method: :post, class: "button" do
          %span ＼CookNaviへようこそ！／
          %span.login ゲストログイン(閲覧用)