#home.big-bg
  .home-content
    %h2.page-title Make your food happy !
    %p みんなどんな料理を作ってる？
    = link_to "レシピを見てみる", recipes_path, class: "button"
    %p レシピの料理を作ってみたいけど、あの材料はどこで買えるんだろう？
    = link_to "材料を探してみる", materials_path, class: "button"