.foot {
  padding: 10px 15px;
  margin: 30px 0px;
  text-align: center;
  line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 16px;
  color: #666;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
}