.footfix {
  width: 100%;
  margin-top: auto;
  .foot {
    padding: 10px 15px;
    text-align: center;
    line-height: 1.57;
    letter-spacing: 0.15em;
    font-size: 16px;
    color: white;
    background-color: rgb(250, 173, 121);
    font-family: 'Philosopher', serif;

  }
}