.header {
  padding: 0px 60px;

  .headerIn {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;

    .headermain {
      position: relative;
      display: flex;
      align-items: center;

      .searchbar {
        margin-left: auto;
        width: 100%;
        display: flex;

        .form {
          width: 100%;
          display: flex;
          height: 36px;
          margin-bottom: 5px;

          .searchbar-input {
            width: 100%;
            padding: 0 0 0 5px;
          }

          .search-btn {
            width: 36px;
            border: 0;
            cursor: pointer;
            background-color: #3CCACE;
            padding: 8px;
          }

          .search-btn {
            width: 36px;
            border: 0;
            cursor: pointer;
            background-color: #3CCACE;
            padding: 8px;
            .searchicon{
              width: 100%;
            }
          }
        }
      }

      &__icon {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;

      }
    }


    .tag {
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;

      .lefttag {
        position: relative;
        display: flex;

        .lefttag__item {
          color: #ffffff;
          text-decoration: none !important;
          line-height: 32px;
          background-position: center right;
          background-repeat: no-repeat;
          background-size: 18px;
          padding-right: 30px;

          .lefttag__item--first {
            text-decoration: none;
            padding: 0;
          }
        }
      }
    }

  }
}

.logoimage {
  width: 140px;
  display: block;
}

img {
  vertical-align: bottom;
}



.tag {
  font-size: 14px;
  display: flex;
  margin-bottom: 10px;
}

.lefttag {
  position: relative;
  display: flex;

  &__item {
    color: #333;
    text-decoration: none !important;
    line-height: 32px;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 18px;
    padding-right: 30px;
  }

  &--first {
    text-decoration: none;
    padding: 0;
  }
}

.righttag {
  margin-left: auto;
  display: flex;

  &__item {
    color: #333;
    text-decoration: none !important;
    line-height: 32px;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 18px;
    padding-right: 30px;
  }

  &--login {
    text-decoration: none !important;
    padding: 0;
  }
}

.post {
  color: #333;
  text-decoration: none !important;
}