.header {
  padding: 0px 60px;
  position: absolute;

  .headerIn {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;

    .headermain {
      align-items: center;

      &__icon {
        font-size: 25px;
        line-height: 41px;
        float: left;
        margin-right: 15px;
        a {
          color: #666;
          font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
          text-decoration: none;
        }
      }
    }

    .tag {
      font-size: 14px;
      margin: 10px 0;
      .menus {
        display: none;
        li {
          padding: 5px 10px;
          border: solid 1px black;
          background-color: white;
        }
        li:hover {
          background-color: lightgray;
        }
      }
    }
  }
}
.post {
  color: #333;
  text-decoration: none !important;
}