.searchbar {
  margin: 20px 450px;
  display: flex;

  .form {
    width: 536px;
    padding: 10px, 20px;
    display: flex;
    height: 36px;
    margin-bottom: 5px;

    .searchbar-input {
      width: 500px;
      padding: 0 0 0 5px;
    }

    .search-btn {
      width: 36px;
      border: 0;
      cursor: pointer;
      background-color: #de0202;
      padding: 8px;
    
      .searchicon{
        width: 100%;
      }
    }
  }
}

.contents {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  &__index {
    margin: 20px 0;
    padding: 30px;
    position: relative;
    height: 400px;
    width: 100%;
    color: #fff;
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(41,41,41,0.2);
    &__link {
      position: absolute;
      cursor: pointer;
      top: 20px;
      right: 30px;
      text-align: right;
      text-decoration: none;
      color: #fff;
      text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
    }
    p {
      position: absolute;
      left: 30px;
      right: 100px;
      bottom: 30px;
      margin: 0;
      font-size: 20px;
      z-index: 2;
      font-weight: bold;
      text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
    }
    .name {
      position: absolute;
      right: 30px;
      bottom: 30px;
      z-index: 2;
      font-size: 13px;
      a {
        text-decoration: none;
        color: #fff;
        text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
        span {
          display: block;
        }
      }
    }
  }
}

.new_recipe_btn{
  height: 100px;
  width: 100px;
  background-color: #de0202;
  color: white;
  border-radius: 4%;
  text-align: center;
  text-decoration: none;
  position: fixed;
  right: 32px;
  bottom: 32px;
  i {
    padding-top: 8px;
  }
}

.material-contents {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  &__index {
    margin: 20px 0;
    padding: 30px;
    position: relative;
    height: 25px;
    width: 100%;
    color: #fff;
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(41,41,41,0.2);
  }
}
.contents_name {
  display: block;
  text-decoration: none;
  color: #666;
  font-size: 18px;
}