.searchbar {
  margin: 20px auto;
  display: flex;

  .form {
    width: 100%;
    padding: 10px, 20px;
    display: flex;
    justify-content: center;
    height: 36px;
    margin-bottom: 5px;

    .searchbar-input {
      width: 500px;
      padding: 0 0 0 5px;
    }

    .search-btn {
      width: 36px;
      border: 0;
      cursor: pointer;
      background-color: rgb(248, 161, 62);
      padding: 8px;
    
      .searchicon{
        width: 100%;
      }
    }
    .search-btn:hover {
      background: rgb(206, 133, 50);
      transition: background 0.3s;
    }
  }
}

.recipe-contents {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1000px;
  h2 {
    color: darkgray;
    font-size: 20px;
  }
  .item {
    &__rank {
      display: flex;
      color: darkgray;
      font-size: 16px;
      margin-bottom: 5px;
      &__crown {
        color: rgb(230, 226, 26);
        padding-top: 3px;
      }
      &__count {
        margin-left: 5px;
      }
    }
    p {
      margin: 0;
      font-size: 16px;
      z-index: 2;
      color: darkgray;
    }
    .name {
      z-index: 2;
      font-size: 14px;
      a {
        text-decoration: none;
        color: darkgray;
      }
    }
    .fa-heart {
      color: red;
    }
    .count {
      color: darkgray;
    }
  }
}

.new_recipe_btn{
  height: 100px;
  width: 100px;
  background-color: rgb(248, 161, 62);
  color: white;
  border-radius: 4%;
  text-align: center;
  text-decoration: none;
  position: fixed;
  right: 32px;
  bottom: 32px;
  i {
    padding-top: 8px;
  }
}
.new_recipe_btn:hover{
  background: rgb(206, 133, 50);
  transition: background 0.3s;
}

.material-contents {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1000px;
  h2 {
    color: darkgray;
    font-size: 20px;
  }
  .item {
    &__rank {
      display: flex;
      color: darkgray;
      font-size: 16px;
      margin-bottom: 5px;
      &__crown {
        color: rgb(230, 226, 26);
        padding-top: 3px;
      }
      &__count {
        margin-left: 5px;
      }
    }
    p {
      margin: 0;
      font-size: 16px;
      z-index: 2;
      color: darkgray;
    }
    .name {
      z-index: 2;
      font-size: 14px;
      a {
        text-decoration: none;
        color: darkgray;
      }
    }
    .index_heart {
      color: red;
    }
    .count {
      color: darkgray;
    }
  }
}
.contents_name {
  display: block;
  text-decoration: none;
  color: #666;
  font-size: 18px;
}
.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}
.recipe-image {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(41,41,41,0.2);
}
.material-image {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(41,41,41,0.2);
}

.user-contents {
  padding-top: 70px;
  .user-box {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    margin-bottom: 0;
    max-width: 660px;
    h2 {
      color: #666;
    }
    .user-list {
      margin: 20px 0;
      padding: 30px;
      position: relative;
      height: 25px;
      width: 100%;
      color: #fff;
      background-size: cover;
      background-position: center center;
      border-radius: 3px;
      box-shadow: 0 0 10px rgba(41,41,41,0.2);
      display: flex;
      justify-content: space-between;
      a {
        text-decoration: none;
        color: rgb(133, 133, 133);
        &:hover {
          background-color: lightgray;
          border-radius: 4px;
          cursor: pointer;
        }
      }
    }
  }
}
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  span {
    display: block;
    height: 18px;
    margin-right: 10px;
    font-size: 18px;
    a {
      color: rgb(206, 133, 50);
      text-decoration: none;
      &:hover {
        background-color: rgb(212, 182, 147);
        border-radius: 5px;
      }
    }
  }
}

/* レスポンシブ
------------------------------ */
@media (max-width: 600px) {
  .searchbar {
    margin: 20px auto;
    display: flex;
  
    .form {
      width: 100%;
      padding: 10px, 20px;
      display: flex;
      justify-content: center;
      height: 36px;
      margin-bottom: 5px;
  
      .searchbar-input {
        width: 200px;
        padding: 0 0 0 5px;
      }
  
      .search-btn {
        width: 36px;
        border: 0;
        cursor: pointer;
        background-color: rgb(248, 161, 62);
        padding: 8px;
      
        .searchicon{
          width: 100%;
        }
      }
      .search-btn:hover {
        background: rgb(206, 133, 50);
      }
    }
  }
  .recipe-contents {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
  }
  .grid {
    display: grid;
    gap: 13px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 6%;
    margin-bottom: 50px;
  }
  .recipe-image {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(41,41,41,0.2);
  }
  .material-contents {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
  }
  .material-image {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(41,41,41,0.2);
  }
  .user-contents {
    padding-top: 70px;
    .user-box {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 70px;
      margin-bottom: 0;
      max-width: 300px;
      h2 {
        color: #666;
      }
      .user-list {
        margin: 20px 0;
        padding: 30px;
        position: relative;
        height: 25px;
        width: 100%;
        max-width: 250px;
        color: #fff;
        background-size: cover;
        background-position: center center;
        border-radius: 3px;
        box-shadow: 0 0 10px rgba(41,41,41,0.2);
        display: flex;
        justify-content: space-between;
      }
    }
  }
}