.new_recipe_contents {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  padding-top: 70px;
  &__new {
    margin: 20px 0;
    padding: 30px;
    box-shadow: 0 0 10px rgba(41,41,41,0.2);
    background-color: white;
    box-sizing: border-box;
    &__title {
      margin: 0 0 20px;
      text-align: center;
      font-weight: normal;
      font-size: 20px;
      color: #666;
    }
    &__text {
      width: 100%;
      margin: 5px 0 15px;
      padding: 10px;
      border: 1px solid #D8D8D8;
      border-radius: 5px;
      font-family: "游ゴシック", "YuGothic";
    }
    textarea {
      width: 100%;
      margin: 5px 0 15px;
      padding: 10px;
      border: 1px solid #D8D8D8;
      border-radius: 5px;
      font-family: "游ゴシック", "YuGothic";
    }
    &__send {
      background-color: #de0202;
      border-radius: 20px;
      width: 100%;
      color: #fff;
      border: 0;
      font-size: 18px;
      padding: 10px;
    }
  }
}

//image投稿欄のCSS
.post__drop__box__container{
  display: block;
  margin: 16px auto 0;
  display: flex;
  flex-wrap: wrap;

  //プレビュー表示欄のCSS
  .prev-content {
    display: flex;
    .preview-box {
      height: 162px;
      width: 112px;
      margin: 0 15px 10px 0;
      .upper-box {
        height: 112px;
        width: 100%;
        img{
          width: 112px;
          height: 112px;
        }
      }
      .lower-box {
        display: flex;
        text-align: center;
        .delete-box {
          color: #00b0ff;
          width: 100%;
          height: 50px;
          line-height: 50px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
      }
    }
  }

  //投稿クリックエリアのCSS
  .label-content{
    margin-bottom: 10px;
    width: 620px;
    .label-box {
      display: block;
      border: 1px dashed #ccc;
      background: #f5f5f5;
      width: 100%;
      height: 162px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      &__text-visible {
        font-size: 14px;
        line-height: 1.5;
        font-weight: bold;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }

  //file_fieldのcss
  .hidden-content {
    display: none;
  }
}


.form-error {
  color: red;
}

/* レスポンシブ
------------------------------ */
@media (max-width: 600px) {
  .new_recipe_contents {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 350px;
    padding-top: 70px;
    &__new {
      margin: 20px 0;
      padding: 30px;
      box-shadow: 0 0 10px rgba(41,41,41,0.2);
      background-color: white;
      box-sizing: border-box;
      &__title {
        margin: 0 0 20px;
        text-align: center;
        font-weight: normal;
        font-size: 20px;
        color: #666;
      }
      &__text {
        width: 100%;
        margin: 5px 0 15px;
        padding: 10px;
        border: 1px solid #D8D8D8;
        border-radius: 5px;
        font-family: "游ゴシック", "YuGothic";
      }
      textarea {
        width: 100%;
        margin: 5px 0 15px;
        padding: 10px;
        border: 1px solid #D8D8D8;
        border-radius: 5px;
        font-family: "游ゴシック", "YuGothic";
      }
      &__send {
        background-color: #de0202;
        border-radius: 20px;
        width: 100%;
        color: #fff;
        border: 0;
        font-size: 18px;
        padding: 10px;
      }
    }
  }
}