.contents {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  &__show {
    margin-top: 20px;
    padding: 30px;
    position: relative;
    height: 400px;
    color: #fff;
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(41,41,41,0.2);
    p {
      position: absolute;
      left: 30px;
      right: 100px;
      bottom: 30px;
      margin: 0;
      font-size: 20px;
      z-index: 2;
      font-weight: bold;
      text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
    }
    .name {
      position: absolute;
      right: 30px;
      bottom: 30px;
      z-index: 2;
      font-size: 13px;
      display: block;
      a {
        text-decoration: none;
        color: #fff;
        span {
          display: block;
        }
      }
    }
  }
  &__box {
    padding: 20px;
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
    background-color: white;
    box-sizing: border-box;
    white-space: pre-wrap;
    &__list {
      display: flex;
      img {
       max-height: 150px;
       max-width: 150px;
      }
    }
    p {
      font-size: 20px;
      color: #57C3E9;
      margin: 10px 0px;
    }
  }
  .list {
    display: flex;
    align-items: center;
    flex-direction: column;
    a {
      text-decoration: none;
      color: #fff
    }
    p {
      margin-top: 10px;
      text-decoration: none;
      background-color: #de0202;
      border-radius: 20px;
      border: 0;
      font-size: 18px;
      padding: 10px;
      width: 594px;
      height: 30px;
      text-align: center;
    }
  }
  &__container {
    margin: 20px 0;
    padding: 30px;
    box-shadow: 0 0 10px rgba(41,41,41,0.2);
    background-color: white;
    box-sizing: border-box;
    &__text {
      margin: 5px 0px 15px;
      padding: 10px;
      width: 594px;
      height: 125px;
      border: 1px solid #D8D8D8;
      border-radius: 5px;
      font-family: "游ゴシック", "YuGothic";
    }
    &__send {
      background-color: #de0202;
      border-radius: 20px;
      color: #fff;
      border: 0;
      font-size: 18px;
      margin: 5px 0px 15px;
      padding: 10px;
      width: 594px;
      height: 50px;
    }
    &__comments {
      padding: 5px;
      margin-top: 15px;
      h4 {
        line-height: 1.57;
        letter-spacing: 0.15em;
        font-size: 16px;
        color: #666;
        font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
        margin: 0;
      }
      &__main {
        margin: 15px 0px;
        a {
          color: #57C3E9;
          text-decoration: none;
        }
      }
    }
  }
}

#map {
  height: 600px;
  width: 600px
}