.recipe_show_contents {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  padding-top: 70px;
  &__show {
    margin-top: 20px;
    padding: 30px;
    height: 400px;
    color: #fff;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(41,41,41,0.2);
    p {
      margin: 0;
      font-size: 20px;
      z-index: 2;
      font-weight: bold;
      text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
    }
    .name {
      position: absolute;
      right: 30px;
      bottom: 30px;
      z-index: 2;
      font-size: 13px;
      display: block;
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
  &__box {
    padding: 20px;
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
    background-color: white;
    box-sizing: border-box;
    &__list {
      display: flex;
      img {
       max-height: 150px;
       max-width: 150px;
      }
    }
    .recipe_name {
      height: 40px;
      font-size: 20px;
      margin-top: 15px;
    }
    .show_name {
      height: 40px;
      a {
        text-decoration: none;
      }
    }
    .show_likes {
      white-space: pre-wrap;
    }
    p {
      font-size: 20px;
      color: #57C3E9;
      margin: 10px 0px;
    }
    .recipe_show_contents__material {
      white-space: pre-wrap;
    }
    .recipe_show_contents__how {
      white-space: pre-wrap;
    }
  }
  .list {
    display: flex;
    align-items: center;
    flex-direction: column;
    a {
      text-decoration: none;
      color: #fff
    }
    p {
      margin-top: 10px;
      text-decoration: none;
      background-color: #de0202;
      border-radius: 20px;
      border: 0;
      font-size: 18px;
      padding: 10px;
      width: 594px;
      height: 30px;
      text-align: center;
    }
  }
  &__container {
    margin: 20px 0;
    padding: 30px;
    box-shadow: 0 0 10px rgba(41,41,41,0.2);
    background-color: white;
    box-sizing: border-box;
    &__text {
      margin: 5px 0px 15px;
      padding: 10px;
      width: 594px;
      height: 125px;
      border: 1px solid #D8D8D8;
      border-radius: 5px;
      font-family: "游ゴシック", "YuGothic";
    }
    &__send {
      background-color: #0bd;
      border-radius: 20px;
      color: #fff;
      border: 0;
      font-size: 18px;
      margin: 5px 0px 15px;
      padding: 10px;
      width: 594px;
      height: 50px;
    }
    &__send:hover {
      background: #0090aa;
    }
    &__comments {
      padding: 5px;
      margin-top: 15px;
      h4 {
        line-height: 1.57;
        letter-spacing: 0.15em;
        font-size: 16px;
        color: #666;
        font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
        margin: 0;
      }
      &__main {
        margin: 15px 0px;
        a {
          color: #57C3E9;
          text-decoration: none;
        }
      }
    }
  }
}

.material_show_contents {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  padding-top: 70px;
  &__show {
    margin-top: 20px;
    padding: 30px;
    height: 400px;
    color: #fff;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(41,41,41,0.2);
  }
  &__box {
    padding: 20px;
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
    background-color: white;
    box-sizing: border-box;
    &__list {
      display: flex;
      img {
       max-height: 150px;
       max-width: 150px;
      }
    }
    .recipe_name {
      height: 40px;
      font-size: 20px;
      margin-top: 15px;
    }
    .show_name {
      height: 40px;
      a {
        text-decoration: none;
      }
    }
    .show_likes {
      white-space: pre-wrap;
    }
    p {
      font-size: 20px;
      color: #57C3E9;
      margin: 10px 0px;
    }
    .recipe_show_contents__material {
      white-space: pre-wrap;
    }
    .recipe_show_contents__how {
      white-space: pre-wrap;
    }
  }
  .list {
    display: flex;
    align-items: center;
    flex-direction: column;
    a {
      text-decoration: none;
      color: #fff
    }
    p {
      margin-top: 10px;
      text-decoration: none;
      background-color: #de0202;
      border-radius: 20px;
      border: 0;
      font-size: 18px;
      padding: 10px;
      width: 594px;
      height: 30px;
      text-align: center;
    }
  }
  &__container {
    margin: 20px 0;
    padding: 30px;
    box-shadow: 0 0 10px rgba(41,41,41,0.2);
    background-color: white;
    box-sizing: border-box;
    &__text {
      margin: 5px 0px 15px;
      padding: 10px;
      width: 594px;
      height: 125px;
      border: 1px solid #D8D8D8;
      border-radius: 5px;
      font-family: "游ゴシック", "YuGothic";
    }
    &__send {
      background-color: #0bd;
      border-radius: 20px;
      color: #fff;
      border: 0;
      font-size: 18px;
      margin: 5px 0px 15px;
      padding: 10px;
      width: 594px;
      height: 50px;
    }
    &__send:hover {
      background-color: #0090aa;
    }
    &__comments {
      padding: 5px;
      margin-top: 15px;
      h4 {
        line-height: 1.57;
        letter-spacing: 0.15em;
        font-size: 16px;
        color: #666;
        font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
        margin: 0;
      }
      &__main {
        margin: 15px 0px;
        a {
          color: #57C3E9;
          text-decoration: none;
        }
      }
    }
  }
}

.user_show_contents {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  margin-bottom: 0;
  max-width: 1000px;
}

.like_show_contents {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  max-width: 1000px;
}

#map {
  height: 600px;
  width: 600px
}

.btn {
  float: right;
  margin-right: 60px;
  display: flex;

  a {
    text-decoration: none;
    color: #666;
    padding-left: 5px;
  }
}

/* レスポンシブ
------------------------------ */
@media (max-width: 600px) {
  .recipe_show_contents {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 350px;
    padding-top: 70px;
    &__show {
      margin-top: 20px;
      padding: 30px;
      height: 290px;
      color: #fff;
      background-size: cover;
      background-position: center;
      border-radius: 3px;
      box-shadow: 0 0 10px rgba(41,41,41,0.2);
      p {
        margin: 0;
        font-size: 20px;
        z-index: 2;
        font-weight: bold;
        text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
      }
      .name {
        position: absolute;
        right: 30px;
        bottom: 30px;
        z-index: 2;
        font-size: 13px;
        display: block;
        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
    &__box {
      padding: 20px;
      box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
      background-color: white;
      box-sizing: border-box;
      &__list {
        display: flex;
        img {
         max-height: 150px;
         max-width: 150px;
        }
      }
      .recipe_name {
        height: 40px;
        font-size: 20px;
        margin-top: 15px;
      }
      .show_name {
        height: 40px;
        a {
          text-decoration: none;
        }
      }
      .show_likes {
        white-space: pre-wrap;
      }
      p {
        font-size: 20px;
        color: #57C3E9;
        margin: 10px 0px;
      }
      .recipe_show_contents__material {
        white-space: pre-wrap;
      }
      .recipe_show_contents__how {
        white-space: pre-wrap;
      }
    }
    .list {
      display: flex;
      align-items: center;
      flex-direction: column;
      a {
        text-decoration: none;
        color: #fff
      }
      p {
        margin-top: 10px;
        text-decoration: none;
        background-color: #de0202;
        border-radius: 20px;
        border: 0;
        font-size: 18px;
        padding: 10px;
        width: 290px;
        height: 30px;
        text-align: center;
      }
    }
    &__container {
      margin: 20px 0;
      padding: 30px;
      width: 350px;
      box-shadow: 0 0 10px rgba(41,41,41,0.2);
      background-color: white;
      box-sizing: border-box;
      &__text {
        margin: 5px 0px 15px;
        padding: 10px;
        width: 270px;
        height: 125px;
        border: 1px solid #D8D8D8;
        border-radius: 5px;
        font-family: "游ゴシック", "YuGothic";
      }
      &__send {
        background-color: #de0202;
        border-radius: 20px;
        color: #fff;
        border: 0;
        font-size: 18px;
        margin: 5px 0px 15px;
        padding: 10px;
        width: 290px;
        height: 50px;
      }
      &__comments {
        padding: 5px;
        margin-top: 15px;
        h4 {
          line-height: 1.57;
          letter-spacing: 0.15em;
          font-size: 16px;
          color: #666;
          font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
          margin: 0;
        }
        &__main {
          margin: 15px 0px;
          a {
            color: #57C3E9;
            text-decoration: none;
          }
        }
      }
    }
  }
  .user_show_contents {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    margin-bottom: 0;
    max-width: 320px;
  }
  .like_show_contents {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    max-width: 320px;
  }
}