.recipe_show_contents {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 70px;
  &__box {
    padding: 20px;
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
    background-color: white;
    box-sizing: border-box;
    .box_child{
      display: flex;
      p {
        font-size: 20px;
        color: rgb(248, 161, 62);
        margin: 10px 0px;
      }
      .box_grandchild {
        width: 540px;
        .show_name {
          display: flex;
          justify-content: space-between;
          .follow_and_favorite {
            margin-right: 30px;
            display: flex;
            .follow_button {
              margin-right: 30px;
            }
          }
        }
        a {
          text-decoration: none;
          color: rgb(133, 133, 133);
          &:hover {
            background-color: lightgray;
            border-radius: 4px;
            cursor: pointer;
          }
        }
        span {
          color: rgb(133, 133, 133);
        }
        &__photo {
          margin-top: 10px;
          padding: 30px;
          height: 300px;
          width: 450px;
          color: #fff;
          background-size: cover;
          background-position: center;
          border-radius: 3px;
          box-shadow: 0 0 10px rgba(41,41,41,0.2);
        }
        &__list {
          display: flex;
          margin-top: 10px;
          img {
          max-height: 100px;
          max-width: 100px;
          }
        }
        .recipe_name {
          height: 40px;
          font-size: 20px;
          margin-top: 15px;
        }
        .show_name {
          height: 40px;
          a {
            text-decoration: none;
          }
        }
        .show_likes {
          white-space: pre-wrap;
        }
      }

      .box_grandchild2{
        width: 420px;
        color: rgb(133, 133, 133);
        .recipe_show_contents__explanation {
          &__sentence {
            margin: 0 20px 0 10px;
          }
        }
        .recipe_show_contents__foodstuff {
          &__container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
            a {
              margin-left: 10px;
              color: rgb(133, 133, 133);
              text-decoration: none;
              &:hover {
                background-color: lightgray;
                border-radius: 4px;
                cursor: pointer;
              }
            }
            &__quantity {
              margin-right: 20px;
            }
          }
        }
        .recipe_show_contents__annotation {
          color: rgb(133, 133, 133);
          font-size: 13px;
          margin: 10px 0 0 10px;
        }
      }
    }
    .how-grid {
      display: grid;
      gap: 26px;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      margin-top: 15px;
      margin-bottom: 50px;
    }
    .box_child2 {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 0;
      max-width: 960px;
      p {
        font-size: 20px;
        color: rgb(248, 161, 62);
        margin: 10px 0px;
      }
      .recipe_show_contents__how {
        &__box {
          white-space: pre-wrap;
          color: rgb(133, 133, 133);
          .how-image {
            height: 220px;
            width: 220px;
            object-fit: cover;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(41,41,41,0.2);
            img {
              height: 220px;
              width: 220px;
              object-fit: cover;
              border-radius: 5px;
              box-shadow: 0 0 10px rgba(41,41,41,0.2);
            }
          }
        }
      }
    }
  }
  .list {
    display: flex;
    align-items: center;
    flex-direction: column;
    a {
      text-decoration: none;
      color: #fff
    }
    p {
      margin-top: 10px;
      text-decoration: none;
      background-color: #de0202;
      border-radius: 20px;
      border: 0;
      font-size: 18px;
      padding: 10px;
      width: 594px;
      height: 30px;
      text-align: center;
    }
  }
  &__container {
    margin: 20px 0;
    padding: 30px;
    box-shadow: 0 0 10px rgba(41,41,41,0.2);
    background-color: white;
    box-sizing: border-box;
    &__text {
      margin: 5px 0px 15px;
      padding: 10px;
      width: 918px;
      height: 125px;
      border: 1px solid #D8D8D8;
      border-radius: 5px;
      font-family: "游ゴシック", "YuGothic";
    }
    &__send {
      background-color: rgb(248, 161, 62);
      border-radius: 20px;
      color: #fff;
      border: 0;
      font-size: 18px;
      margin: 5px auto 15px auto;
      padding: 10px;
      width: 600px;
      height: 50px;
      display: block;
    }
    &__send:hover {
      background: rgb(206, 133, 50);
      cursor: pointer;
      transition: background 0.3s;
    }
    &__comments {
      padding: 5px;
      margin-top: 15px;
      h4 {
        line-height: 1.57;
        letter-spacing: 0.15em;
        font-size: 16px;
        color: rgb(133, 133, 133);
        font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
        margin: 0;
      }
      &__main {
        margin: 15px 0px;
        color: rgb(133, 133, 133);
        a {
          color: rgb(248, 161, 62);
          text-decoration: none;
          &:hover {
            background-color: lightgray;
            border-radius: 4px;
            cursor: pointer;
            transition: background 0.3s;
          }
        }
      }
    }
  }
}
.material_show_contents {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 70px;
  &__box {
    padding: 20px;
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
    background-color: white;
    box-sizing: border-box;
    .box_child{
      display: flex;
      p {
        font-size: 20px;
        color: rgb(248, 161, 62);
        margin: 10px 0px;
      }
      .box_grandchild {
        width: 540px;
        a {
          text-decoration: none;
          color: darkgray;
        }
        .show_name {
          display: flex;
          justify-content: space-between;
          .follow_and_favorite {
            margin-right: 30px;
            display: flex;
            .follow_button {
              margin-right: 30px;
            }
          }
        }
        span {
          color: darkgray;
        }
        &__photo {
          margin-top: 10px;
          padding: 30px;
          height: 300px;
          width: 450px;
          color: #fff;
          background-size: cover;
          background-position: center;
          border-radius: 3px;
          box-shadow: 0 0 10px rgba(41,41,41,0.2);
        }
        &__list {
          display: flex;
          margin-top: 10px;
          img {
          max-height: 100px;
          max-width: 100px;
          }
        }
        .recipe_name {
          height: 40px;
          font-size: 20px;
          margin-top: 15px;
        }
        .show_name {
          height: 40px;
          a {
            text-decoration: none;
          }
        }
        .show_likes {
          white-space: pre-wrap;
        }
      }
      .box_grandchild2 {
        color: darkgray;
        p {
          font-size: 20px;
          color: rgb(248, 161, 62);
          margin: 10px 0px;
        }

      }
    }
  }
  &__show {
    margin-top: 20px;
    padding: 30px;
    height: 400px;
    color: #fff;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(41,41,41,0.2);
  }
  .list {
    display: flex;
    align-items: center;
    flex-direction: column;
    a {
      text-decoration: none;
      color: #fff
    }
    p {
      margin-top: 10px;
      text-decoration: none;
      background-color: #de0202;
      border-radius: 20px;
      border: 0;
      font-size: 18px;
      padding: 10px;
      width: 594px;
      height: 30px;
      text-align: center;
    }
  }
  &__container {
    margin: 20px 0;
    padding: 30px;
    box-shadow: 0 0 10px rgba(41,41,41,0.2);
    background-color: white;
    box-sizing: border-box;
    &__text {
      margin: 5px 0px 15px;
      padding: 10px;
      width: 918px;
      height: 125px;
      border: 1px solid #D8D8D8;
      border-radius: 5px;
      font-family: "游ゴシック", "YuGothic";
    }
    &__send {
      background-color: rgb(248, 161, 62);
      border-radius: 20px;
      color: #fff;
      border: 0;
      font-size: 18px;
      margin: 5px auto 15px auto;
      padding: 10px;
      width: 600px;
      height: 50px;
      display: block;
    }
    &__send:hover {
      background: rgb(206, 133, 50);
      cursor: pointer;
      transition: background 0.3s;
    }
    &__comments {
      padding: 5px;
      margin-top: 15px;
      h4 {
        line-height: 1.57;
        letter-spacing: 0.15em;
        font-size: 16px;
        color: rgb(133, 133, 133);
        font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
        margin: 0;
      }
      &__main {
        margin: 15px 0px;
        color: rgb(133, 133, 133);
        a {
          color: rgb(248, 161, 62);
          text-decoration: none;
          &:hover {
            background-color: lightgray;
            border-radius: 4px;
            cursor: pointer;
            transition: background 0.3s;
          }
        }
      }
    }
  }
}

.user_show_contents {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  margin-bottom: 0;
  max-width: 1000px;
  a {
    text-decoration: none;
    color: rgb(133, 133, 133);
    &:hover {
      background-color: lightgray;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  .item {
    p {
      margin: 0;
      font-size: 16px;
      z-index: 2;
      color: darkgray;
    }
    .name {
      z-index: 2;
      font-size: 14px;
      a {
        text-decoration: none;
        color: darkgray;
      }
    }
    .fas {
      color: red;
    }
    .count {
      color: darkgray;
    }
  }
}

.like_show_contents {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  max-width: 1000px;
  .item {
    p {
      margin: 0;
      font-size: 16px;
      z-index: 2;
      color: darkgray;
    }
    .name {
      z-index: 2;
      font-size: 14px;
      a {
        text-decoration: none;
        color: darkgray;
      }
    }
    .fas {
      color: red;
    }
    .count {
      color: darkgray;
    }
  }
}

#map {
  height: 625px;
  width: 960px
}

.btn {
  float: right;
  margin-right: 60px;
  display: flex;

  a {
    text-decoration: none;
    color: #666;
    padding-left: 5px;
  }
}
.like_heart{
  color: #de0202;
}
.unlike_heart{
  color: #666;
}
.like_star{
  color: rgb(255, 230, 0);
}
.unlike_star{
  color: #666;
}
.comment-delete {
  float: right;
}

/* レスポンシブ
------------------------------ */
@media (max-width: 600px) {
  .recipe_show_contents {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 350px;
    padding-top: 70px;
    &__box {
      padding: 10px;
      box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
      background-color: white;
      box-sizing: border-box;
      .box_child{
        display: block;
        p {
          font-size: 20px;
          color: rgb(248, 161, 62);
          margin: 10px 0px;
        }
        .box_grandchild {
          width: 330px;
          a {
            text-decoration: none;
            color: rgb(133, 133, 133);
            &:hover {
              background-color: lightgray;
              border-radius: 4px;
              cursor: pointer;
            }
          }
          span {
            color: rgb(133, 133, 133);
          }
          &__photo {
            margin-top: 20px;
            padding: 0;
            height: 220px;
            width: 330px;
            color: #fff;
            background-size: cover;
            background-position: center;
            border-radius: 3px;
            box-shadow: 0 0 10px rgba(41,41,41,0.2);
          }
          &__list {
            display: flex;
            margin-top: 10px;
            img {
            max-height: 58px;
            max-width: 58px;
            }
          }
          .recipe_name {
            height: 40px;
            font-size: 20px;
            margin-top: 15px;
          }
          .show_name {
            height: 40px;
            a {
              text-decoration: none;
            }
          }
          .show_likes {
            white-space: pre-wrap;
          }
        }
        .box_grandchild2{
          width: 330px;
          color: rgb(133, 133, 133);
          .recipe_show_contents__explanation {
            &__sentence {
              margin: 0 20px 0 10px;
            }
          }
          .recipe_show_contents__foodstuff {
            &__container {
              display: flex;
              justify-content: space-between;
              margin-bottom: 5px;
              a {
                margin-left: 10px;
                color: rgb(133, 133, 133);
                text-decoration: none;
                &:hover {
                  background-color: lightgray;
                  border-radius: 4px;
                  cursor: pointer;
                }
              }
              &__quantity {
                margin-right: 20px;
              }
            }
          }
          .recipe_show_contents__annotation {
            color: rgb(133, 133, 133);
            font-size: 13px;
            margin: 10px 0 0 10px;
          }
        }
      }
      .how-grid {
        display: grid;
        gap: 26px;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        margin-top: 15px;
        margin-bottom: 50px;
      }
      .box_child2 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        max-width: 960px;
        p {
          font-size: 20px;
          color: rgb(248, 161, 62);
          margin: 10px 0px;
        }
        .recipe_show_contents__how {
          &__box {
            white-space: pre-wrap;
            color: rgb(133, 133, 133);
            .how-image {
              height: 220px;
              width: 220px;
              object-fit: cover;
              border-radius: 5px;
              box-shadow: 0 0 10px rgba(41,41,41,0.2);
              img {
                height: 220px;
                width: 220px;
                object-fit: cover;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(41,41,41,0.2);
              }
            }
          }
        }
      }
    }
    .list {
      display: flex;
      align-items: center;
      flex-direction: column;
      a {
        text-decoration: none;
        color: #fff
      }
      p {
        margin-top: 10px;
        text-decoration: none;
        background-color: rgb(248, 161, 62);
        border-radius: 20px;
        border: 0;
        font-size: 18px;
        padding: 10px;
        width: 594px;
        height: 30px;
        text-align: center;
      }
    }
    &__container {
      margin: 20px 0;
      padding: 30px;
      width: 350px;
      box-shadow: 0 0 10px rgba(41,41,41,0.2);
      background-color: white;
      box-sizing: border-box;
      &__text {
        margin: 5px 0px 15px;
        padding: 10px;
        width: 270px;
        height: 125px;
        border: 1px solid #D8D8D8;
        border-radius: 5px;
        font-family: "游ゴシック", "YuGothic";
      }
      &__send {
        background-color: rgb(248, 161, 62);
        border-radius: 20px;
        color: #fff;
        border: 0;
        font-size: 18px;
        margin: 5px 0px 15px;
        padding: 10px;
        width: 290px;
        height: 50px;
      }
      &__comments {
        padding: 5px;
        margin-top: 15px;
        h4 {
          line-height: 1.57;
          letter-spacing: 0.15em;
          font-size: 16px;
          color: #666;
          font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
          margin: 0;
        }
        &__main {
          margin: 15px 0px;
          a {
            color: #57C3E9;
            text-decoration: none;
          }
        }
      }
    }
  }
  .material_show_contents {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 350px;
    padding-top: 70px;
    &__box {
      padding: 10px;
      box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
      background-color: white;
      box-sizing: border-box;
      .box_child{
        display: block;
        p {
          font-size: 20px;
          color: rgb(248, 161, 62);
          margin: 10px 0px;
        }
        .box_grandchild {
          width: 330px;
          a {
            text-decoration: none;
            color: darkgray;
          }
          span {
            color: darkgray;
          }
          &__photo {
            padding: 0;
            margin-top: 20px;
            height: 220px;
            width: 330px;
            color: #fff;
            background-size: cover;
            background-position: center;
            border-radius: 3px;
            box-shadow: 0 0 10px rgba(41,41,41,0.2);
          }
          &__list {
            display: flex;
            margin-top: 10px;
            img {
            max-height: 58px;
            max-width: 58px;
            }
          }
          .recipe_name {
            height: 40px;
            font-size: 20px;
            margin-top: 15px;
          }
          .show_name {
            height: 40px;
            a {
              text-decoration: none;
            }
          }
          .show_likes {
            white-space: pre-wrap;
          }
        }
        .box_grandchild2 {
          color: darkgray;
          p {
            font-size: 20px;
            color: rgb(248, 161, 62);
            margin: 10px 0px;
          }
  
        }
      }
    }
    &__show {
      margin-top: 20px;
      padding: 30px;
      height: 400px;
      color: #fff;
      background-size: cover;
      background-position: center;
      border-radius: 3px;
      box-shadow: 0 0 10px rgba(41,41,41,0.2);
    }
    .list {
      display: flex;
      align-items: center;
      flex-direction: column;
      a {
        text-decoration: none;
        color: #fff
      }
      p {
        margin-top: 10px;
        text-decoration: none;
        background-color: rgb(248, 161, 62);
        border-radius: 20px;
        border: 0;
        font-size: 18px;
        padding: 10px;
        width: 594px;
        height: 30px;
        text-align: center;
      }
    }
    &__container {
      margin: 20px 0;
      padding: 30px;
      width: 350px;
      box-shadow: 0 0 10px rgba(41,41,41,0.2);
      background-color: white;
      box-sizing: border-box;
      &__text {
        margin: 5px 0px 15px;
        padding: 10px;
        width: 270px;
        height: 125px;
        border: 1px solid #D8D8D8;
        border-radius: 5px;
        font-family: "游ゴシック", "YuGothic";
      }
      &__send {
        background-color: rgb(248, 161, 62);
        border-radius: 20px;
        color: #fff;
        border: 0;
        font-size: 18px;
        margin: 5px 0px 15px;
        padding: 10px;
        width: 290px;
        height: 50px;
      }
      &__comments {
        padding: 5px;
        margin-top: 15px;
        h4 {
          line-height: 1.57;
          letter-spacing: 0.15em;
          font-size: 16px;
          color: #666;
          font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
          margin: 0;
        }
        &__main {
          margin: 15px 0px;
          a {
            color: #57C3E9;
            text-decoration: none;
          }
        }
      }
    }
  }
  #map {
    margin-top: 10px;
    height: 320px;
    width: 320px
  }
  .user_show_contents {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    margin-bottom: 0;
    max-width: 320px;
  }
  .like_show_contents {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    max-width: 320px;
  }
}
