.contents {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  &__title {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #666;
    font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  }
  &__post {
    margin: 20px 0;
    padding: 30px;
    position: relative;
    height: 400px;
    color: #fff;
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(41,41,41,0.2);
    &__text {
      position: absolute;
      left: 30px;
      right: 100px;
      bottom: 30px;
      margin: 0;
      font-size: 20px;
      z-index: 2;
      color: #fff;
      font-weight: bold;
      text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
    }
    .name {
      position: absolute;
      right: 30px;
      bottom: 30px;
      z-index: 2;
      font-size: 13px;
      a {
        text-decoration: none;
        color: #aaa;
        span {
          display: block;
        }
      }
    }
  }
}